@require '~css/variables.styl'

.fund-btc-key-values
  .key-value
    div
      display inline-block
    .key
      font-weight 600
      width 150px

#field-group-etm-amount
  .bf-field-addon
    width auto