@require '~css/variables.styl'

.bf-kvs
  display flex
  flex-flow column
  justify-content center

  padding 0.5rem 0

  .bf-kv
    flex 1

@media screen and (min-width: 414px)
  .bf-kvs
    padding 0.75rem 0

@media screen and (min-width: 768px)
  .bf-kvs
    padding 1rem 0