@require '~css/variables.styl'

#form-donate-etc
  .bf-form-main
    border-bottom none
  .bf-form-footer
    display none

#donate-etc-donation-tx
  height 14rem !important
  mono()

#musereum-address
  cursor not-allowed

.donate-etc-key-values
  .key-value
    padding 0.125rem 0
    display flex
    align-items center
    font-size 0.875rem
    .key
      flex 2
      color dim
    .value
      flex 3
      font-weight 500