@require '~css/variables.styl'

.bf-ph
  margin-top 3rem

  .bf-ph-container
    max-width 1024px
    margin 0 auto
    text-align center

  .bf-ph-title-sup
    color #989898
    font-size 0.875rem
    letter-spacing 0.5px
    text-transform uppercase
    line-height 1

    display flex
    align-items center
    justify-content center

    margin-left -98px

    &:before
      margin-right 11px
      padding-right 3px
      width 87px
      height 21px
      content "PRE-SALE"
      background url('./img/presale-badge.svg') no-repeat center center
      color #ffffff
      font-size 0.75rem
      letter-spacing 0.5px
      text-transform uppercase

      display flex
      align-items center
      justify-content center

  .bf-ph-title
    font-size 2rem
    font-weight 400
    padding 1rem 0.25rem
    line-height 1

    display flex
    align-items center
    justify-content center

  .bf-ph-title-sub
    color #989898
    font-size 1.5rem
    font-weight 300
    line-height 1

    display flex
    align-items center
    justify-content center

  .bf-kvs
    background transparent
    display flex
    flex-flow row wrap
    padding 2.25rem 0 3.81rem

    .bf-kv
      flex 0
      min-width 18.5rem
      padding 0 5px

      .bf-kv-value-how
        padding-top 2.8rem
        color txt
        font-size 0.875rem
        letter-spacing: 0.5px

        &.gas-icon
          background url('./img/gas-icon.svg') no-repeat center top
        &.licenses-icon
          background url('./img/licenses-icon.svg') no-repeat center top
        &.music-icon
          background url('./img/music-icon.svg') no-repeat center top

      .bf-kv-key
        color #989898
        font-size 1rem
        line-height 1.75rem

  .bf-form
    margin 0 auto

.bf-ph__bf-kvs
  padding 0rem 0 3.81rem !important

  .bf-kv
    margin 5px 0

    &:first-child
      align-items center

      .bf-btn
        background-image linear-gradient(-153deg, #555 0%, #000 95%)

    &:last-child
      align-items center

  .bf-btn
    background-image linear-gradient(-153deg, #c45afc 0%, #512ef7 95%)
    color #FFFFFF
    letter-spacing 1px
    width 150px
    border none

@media screen and (min-width: 768px)
  .bf-ph
    .bf-ph-title
      font-size 2.81rem
      padding 2.18rem 0.75rem 4.7rem
    .bf-ph-title-sub
      font-size 2.25rem

  .bf-ph__bf-kvs
    .bf-kv
      &:first-child
        align-items flex-end

      &:last-child
        align-items flex-start

@media screen and (min-width: 1024px)
  .bf-ph
    margin-top 5rem
    .bf-ph-container
      padding 0 0.75rem
