@require '~css/variables.styl'

.loader
  display: flex
  flex: 1
  align-items: center
  justify-content: center

  .loader__gif
    background-image: url('./loader.gif')
    height: 297px
    width: 297px
