@require '~css/variables.styl'

.loader
  display flex
  flex 1
  align-items center
  justify-content center
  background hsl(0,0%,99%)

  .loader__gif
    background-image url('../../../img/logo_loader.svg')
    background-repeat no-repeat
    height: 100px
    width: 100px
